{% extends 'base.html' %}
{% load cart_tags %}
{% load static %}


{% block title %}Product Catalog{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}

{% block content %}
<h1 class="catalog-title">Product Catalog</h1>

<div class="catalog-wrapper">
    <!-- Левая колонка: фильтры -->
    <aside class="filters">
        <form id="filter-form"
              hx-get="{% url 'products:product_list' %}"
              hx-target="#products-grid"
              hx-trigger="change delay:500ms">
            <div>
                <label>Search</label>
                <input type="text" name="search" value="{{ request.GET.search }}">
            </div>
            <div>
                <label>Category</label>
                <select name="category">
                    <option value="">All</option>
                    {% for cat in categories %}
                    <option value="{{ cat.id }}" {% if request.GET.category == cat.id|stringformat:"s" %}selected{% endif %}>
                        {{ cat.name }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label>Min price</label>
                <input type="number" name="min_price" value="{{ request.GET.min_price }}">
            </div>
            <div>
                <label>Max price</label>
                <input type="number" name="max_price" value="{{ request.GET.max_price }}">
            </div>
            <div>
                <label>In stock</label>
                <input type="checkbox" name="available" value="True" {% if request.GET.available %}checked{% endif %}>
            </div>
        </form>
    </aside>

    <!-- Правая колонка: товары -->
    <div id="products-grid">
        {% include 'products/products_grid_partial.html' %}
    </div>
</div>
{% endblock %}
