{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}

{% block content %}

<h2>Products</h2>

<!-- ====== Форма поиска (динамический поиск) ====== -->
<form id="search-form"
      hx-get="{% url 'products:sort_partial' %}"
      hx-target="#product-list"
      hx-trigger="keyup changed delay:300ms"
      hx-swap="innerHTML">
    <input type="text" name="search" placeholder="Поиск..." value="{{ request.GET.search }}">
</form>

<!-- ====== Блок сортировки ====== -->
<div id="sort-container">
    {% include "products/partials/sort_control.html" %}
</div>

<!-- ====== Контейнер для товаров ====== -->
<div id="product-list">
    {% include "products/partials/product_list_items.html" %}
</div>

{% endblock %}
