<!DOCTYPE html>
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Marketplace{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/htmx.org@1.9.3"></script>


</head>
<body>

<header>
    <nav>
         <button onclick="location.href='/'"
                style="padding:6px 12px; border:1px solid #ccc; background:#f5f5f5; border-radius:4px; cursor:pointer;">
            Home
        </button> |
        <a href="{% url 'products:product_list' %}">Catalog</a> |
        <a href="{% url 'orders:create_order' %}">Cart</a> |

        {% if user.is_authenticated %}
            {% if user.user_type == 'seller' %}
                <a href="{% url 'products:product_add' %}">Add Product</a> |
                <a href="{% url 'products:category_add' %}">Add Category</a> |
            {% endif %}

            <a href="{% url 'profile' %}">Profile</a> |

            <span>{% translate "Welcome" %}, {{ user.username }}!</span>

            <form method="post" action="{% url 'logout' %}" style="display:inline; margin-left: 10px;">
                {% csrf_token %}
                <button type="submit" style="background:none; border:none; padding:0; cursor:pointer; color:#00f; text-decoration:underline;">
                    Logout
                </button>
            </form>

           <form action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <select name="language">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
            <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}selected{% endif %}>
                {{ language.name_local }}
            </option>
        {% endfor %}
    </select>
    <input type="submit" value="{% trans 'Change language' %}">
</form>

        {% else %}|
            <a href="{% url 'auth' %}">Register or Login</a>
        {% endif %}

        <span id="cart-count" style="margin-left: 15px;">
            {% include 'orders/partials/cart_count.html' %}
        </span>
    </nav>
</header>


<main>
    {% block content %}
    {% endblock %}
</main>

<footer>
    <hr>
    <p>&copy; {{ year|default:2025 }} Marketplace</p>
</footer>

</body>
</html>
